.logo {
    align-items: center;
    justify-content: center;
    background: none;
    width: 100px;
    height: 100px;
    border: #333C4B solid 2px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.logo img {
    width: 90%;
    height: auto;
    object-fit: cover;
    object-position: center;
    transform: translate(10%, -11%);
}